@model Dashboard.Models.ReservationDetailsViewModel

@{
    ViewData["Title"] = "ReservationDetails";
}

<h1>Reservation Details</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<div class="row">
    <div class="col-md-6">
        <form method="get" action="@Url.Action("ReservationDetails", "Dashboard")">
            <div class="form-group">
                <label for="selectedDate">Select Date:</label>
                <input type="date" id="selectedDate" name="selectedDate" value="@Model.Date.ToString("yyyy-MM-dd")" class="form-control" />
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<h2>Past Seven Days</h2>
<h6>Total number of reservations made for the past 7 days: @Model.TotalPastNoOfRes</h6>
<h6>Total amount of sales for the past 7 days: @Model.TotalPastPayment</h6>
<h6>Total revenue for the past 7 days: @Model.TotalRevenuePastSevenDays</h6>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PastReservations.First().Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PastReservations.First().NoOfRes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PastReservations.First().Payment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PastReservations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoOfRes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payment)
                </td>
@*                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
            </tr>
        }
    </tbody>
</table>

<h2>Upcoming Seven Days</h2>
<h6>Total number of incoming reservations for the next 7 days: @Model.TotalUpcomingNoOfRes</h6>
@*<p>Total Payment: @Model.TotalUpcomingPayment</p>*@
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UpcomingReservations.First().Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpcomingReservations.First().NoOfRes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpcomingReservations.First().Payment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UpcomingReservations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoOfRes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payment)
                </td>
@*                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
            </tr>
        }
    </tbody>
</table>
