@model Dashboard.Models.ReservationDetailsViewModel

@{
    ViewData["Title"] = "ReservationDetails";
}

<h1>Resvervation Details</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<h2>Past Seven Days</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PastReservations.First().NoOfRes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PastReservations.First().Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PastReservations.First().Payment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PastReservations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NoOfRes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payment)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
